@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-between align-items-center">
    <h6>Check out our roster of Chefs!</h6>
    <a href="/chefs/new">Add a Chef</a>
</div>
<hr>
<table class="table table-secondary table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th># of Dishes</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Dummy</td>
            <td>Data</td>
            <td>Edit | Delete</td>
        </tr>
        <tr>
            <td>Dummy</td>
            <td>Data</td>
            <td>Edit | Delete</td>
        </tr>
        <tr>
            <td>Dummy</td>
            <td>Data</td>
            <td>Edit | Delete</td>
        </tr>
    </tbody>
</table>
